html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* General Styles */

header, section {
    overflow: hidden;
}

h1, h2, h3, p {
    color: #000000;
}

h1, h2, h3 {
    font-weight: bold;
    font-size: 1em;
}

/* main-header */

#main-header {
    background-color: white;
    top: 0;
    left: 0;
    position: relative;
}
#main-header h1 {
    text-align: left;
}

/* Content */

#main {
    background-color: hsla(120,72%,70%, 1);
    width: 800px;
    margin: 0 auto;
}

#main h2 {
    text-align: center;
    font-family: pacifico, cursive;
}

#main div p {
    line-height: 18px;
}


#main .main-content1 h3 {
    text-align: left;
    text-decoration: underline;
}

#main .main-content2 h3 {
    text-align: left;
    text-decoration: underline;
}

#main .main-content3 h3 {
    text-align: left;
    text-decoration: underline;
}

/* Sidebar */

ul li {
    list-style-type: none;
}

aside #sidebar {
    width: 25%;
    padding: 0 10px;
    float: right;
    overflow: hidden;
    border-style: solid;
    line-height: 20px;
}

aside h3 {
    text-align: justify;
}

#sidebar {
    background-color: hsla(120,60%,80%, .8);
    position: relative;
    display: block;
    padding: 5px;

}

.item1, .item2, .item3 {
    border-style: dotted;
    padding: 20px;
}